/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 5, 2015, 8:38:12 AM
    Author     : Hyun Suk Noh <hsnoh@philstar.biz>
*/

.root {
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}

.drawDialog > *.label.content{
    -fx-font-size: 48pt;
}

.drawDialog:header *.header-panel{
    -fx-font-size: 24pt;
}

.drawDialog:header *.header-panel *.label{
    -fx-font-size: 36px;
}